:root {
  --primary-color: #25C484;
  --secondary-color: #ffffff;
  --text-color: #333333;
  --gray-color: #F5F5F5;
  --dark-gray: #7D7D7D;
  --font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}
